@font-face {
    font-family: 'galanogrotesque-b';
    src: url('assets/galano_grotesque_bold-webfont.woff2') format('woff2'),
         url('assets/galano_grotesque_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'galanogrotesque-semi';
    src: url('assets/galano_grotesque_semi_bold-webfont.woff2') format('woff2'),
         url('assets/galano_grotesque_semi_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'galanogrotesque-r';
    src: url('assets/galano_grotesque-webfont.woff2') format('woff2'),
         url('assets/galano_grotesque-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    background-color: #000; 
    font-family: "galanogrotesque-r", "Helvetica", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: #fff;
}

html, body {
    margin: 0;
    padding: 0;
}

#container {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 400px;
    background-image: url(assets/background.png);
    background-size: cover;
    max-width: 100%;
    overflow: auto;
}

a {
    color: white !important;
}

.logo{
    background-image: image(href="logo.svg");
    margin-top: 0;
    padding: 20px;
    color: ff00c3;
    position: absolute;
    display: absolute;
    float: left;
    font-size: 1.5em;
    transition:0.2s linear;
    -webkit-transition:0.2s linear;
    -o-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
}

#name {
    color: #fff;
    display:inline;
}

.logo:hover {
    background-color: #ff00c3 !important;
    color: #fff !important;
    transition:0.2s linear;
    -webkit-transition:0.2s linear;
    -o-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    font-size: 1.5em;
}

.blog-link{
    background-image: image(href="logo.svg");
    margin-top: 66;
    padding: 20;
    color: ff00c3;
    position: absolute;
    display: absolute;
    float: left;
    font-size: 1.11em;
    transition:0.2s linear;
    -webkit-transition:0.2s linear;
    -o-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
}


.blog-link:hover {
    background-color: #ff00c3 !important;
    color: #fff !important;
    transition:0.2s linear;
    -webkit-transition:0.2s linear;
    -o-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    font-size: 1.11em;
}


.outer {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    width: 75%;
    max-width: 500px;
    margin-left: 5%;
}

h1 {
    display: block;
    float: left;
    position: relative;
    margin-bottom: -10px;
    font-size:3em;
}

h2 {
    display: block;
    float: right;
    position: relative;
    line-height: 1.25;
    font-family: "galanogrotesque-r", "Helvetica Neue";
    font-weight: 900;
    padding-bottom: 20px;
}

ul {
    margin-top: -5px;
    display: block;
    float: left;
    position: relative;
    font-size: 1.25em;
    padding: 0;
}

ul a {
    text-decoration: none;
    transition: color 0.5s linear;
    -webkit-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear
}

ul a:hover {
    color: #fff !important;
    transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;

}

li {
    margin-right: 30px;
    display: inline;
    list-style-type: none;
    border: 3px solid #ff00c3; 
    border-radius: 200px;
    padding: 10 20 10 20; 
    transition: color 0.5s linear;
    transition:0.2s linear;
    -webkit-transition:0.2s linear;
    -o-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    
}

li:hover {
    background: #ff00c3 !important;
    transition:0.2s linear;
    -webkit-transition:0.2s linear;
    -o-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
}
