@font-face {
    font-family: 'galanogrotesque-b';
    src: url('assets/galano_grotesque_bold-webfont.woff2') format('woff2'),
         url('assets/galano_grotesque_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'galanogrotesque-semi';
    src: url('assets/galano_grotesque_semi_bold-webfont.woff2') format('woff2'),
         url('assets/galano_grotesque_semi_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'galanogrotesque-r';
    src: url('assets/galano_grotesque-webfont.woff2') format('woff2'),
         url('assets/galano_grotesque-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    background-color: #fff; 
    font-family: "galanogrotesque-b", "Helvetica", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html, body {
    margin: 0;
    padding: 0;
}

#container {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width:500px;
}

a {
    color: black !important;
}

.logo{
    margin-top: 0;
    padding: 20px;
    position: fixed;
    font-size: 1.5em;
    transition:0.2s linear;
    -webkit-transition:0.2s linear;
    -o-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
}

.logo:hover {
    background-color: #00d889 !important;
    color: white;
    transition:0.2s linear;
    -webkit-transition:0.2s linear;
    -o-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    font-size: 1.5em;
}

.outer {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 500px;
}

h1 {
    display: block;
    float: left;
    position: relative;
    margin-bottom: -10px;
    font-size:3em;
}

h2 {
    display: block;
    float: right;
    position: relative;
    line-height: 1.25;
    font-family: "galanogrotesque-semi", "Helvetica Neue";
    font-weight: 900;
}

ul {
    margin-top: -5px;
    display: block;
    float: left;
    position: relative;
    font-size: 1.25em;
    padding: 0;
}

ul a {
    transition: color 0.5s linear;
    -webkit-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
}

ul a:hover {
    color: #00d889 !important;
    transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
}

li {
    display: inline;
    margin-right: 30px;
    list-style-type: none;
}
